@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;

@layer base {
  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  select {
    @apply w-full border-gray-300 shadow-sm rounded-lg focus:border-yellow-500 focus:ring-yellow-500;
  }
}

html {
    background-color:  #F3F4F6;
}
body {
  box-sizing: border-box;
}

#app {
  font-family: 'Quicksand', sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-box: box-sizing;
}

@tailwind utilities;